<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="../static/css/style.default.css" id="theme-stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        var username,phone,province,city,address;
        $(document).ready(function () {
            $("#sb").click(function () {
                username=$("#username").val();
                phone=$("#phone").val();
                province=$("#province").val();
                city=$("#city").val();
                address=$("#address").val();
                if (username == "" || phone == "" || province == "" || city == "" || address == "") {
                    alert("请检查表单信息，信息不能为空");
                } else {
                    address=province+city+address;
                    $("#hiddenButton").click();
                    $("#cname").text(username);
                    $("#cphone").text(phone);
                    $("#caddress").text(address);
                }
            });
            $("#checkSubmit").click(function () {
                $("#hiddenButton2").click();
            });
            $("#checkUpload").click(function () {
                window.location.href = "/checkOrder?phone=" + phone + "&address=" + address;
            });
            $("#back").click(function () {
                window.location.href = "/draw";
            });
        })
    </script>
</head>
<body>
<button class="f" id="hiddenButton"  data-toggle="modal" data-target="#editModal" hidden></button>
<button class="f" id="hiddenButton2"  data-toggle="modal" data-target="#checkSuccess" hidden></button>

<!--收货地址表单，自动写入用户注册时的信息-->
<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-5">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>收货地址</h1>
                            </div>
                            <p>请如实填写联系方式与地址，便于工作人员邮寄奖品</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-7 bg-white">
                    <form id="rgt" method="post" action="/register" class="form d-flex align-items-center">
                        <div class="content">
                            <div class="form-group">
                                <input id="username" class="input-material" type="text" name="username" th:value="${session.userBean.name}" placeholder="请输入收件人名字" >
                            </div>
                            <div class="form-group">
                                <input id="phone" class="input-material" type="text" name="phone" placeholder="请输入联系电话"   >
                            </div>
                            <div class="form-group">
                                <input id="province" class="input-material" type="text" name="province" th:value="${session.userBean.province}" placeholder="请输入省份"   >                            </div>
                            <div class="form-group">
                                <input id="city" class="input-material" type="text" name="city" th:value="${session.userBean.city}" placeholder="请输入城市"   >
                            </div>
                            <div class="form-group">
                                <input id="address" class="input-material" type="text" name="address" th:value="${session.userBean.address}" placeholder="请输入详细地址"   >
                            </div>
                            <div class="form-group">
                                <input id="upload" class="input-material" type="file" name="upload" >
                            </div>
                            <span class="form-group">
                                <button id="sb" type="button" class="btn btn-primary">确认</button>
                            </span>
                            <span class="form-group">
                                <button id="back" type="button" class="btn btn-primary">返回</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--确认信息的弹出框-->
<div class="modal fade" id="editModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">确认信息</h4>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div id="divDialog">
                <p>请确认填写的联系方式</p>
                <p>收件人：<b id="cname"></b></p>
                <p>联系人：<b id="cphone"></b></p>
                <p>联系地址：<b id="caddress"></b></p>
            </div>
            <div class="modal-footer">
                <button id="checkSubmit" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                <button type="button" class="btn secondary"  data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>


<!--上传成功后的弹出框-->
<div class="modal fade" id="checkSuccess">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="dialogTitle">上传成功</h4>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div>
                <p>
                    我们会尽快审核您的消费凭证。若审核通过，红包将在<br>
                    24小时通过微信服务通知窗口领取 ，逾期不领取将会<br>
                    退回，并不予补偿实物江立将以填写的收货信息为准，<br>
                    在 5个工作日内邮寄，请注意查收，如填写信息有误，<br>
                    将不予补发<br>
                </p>
                <p>
                    如有任何疑问，请致电客服热线：<br>
                    400-XXXX-XXXX<br>
                    工作时间：&nbsp;10:00-18:00（仅限工作日）
                </p>
            </div>
            <div class="modal-footer">
                <button id="checkUpload" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                <button type="button" class="btn secondary"  data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>